* {
    padding: 5px;
    box-sizing: border-box;
    text-decoration: none;
    
}
   
  title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:rgb(247, 235, 235);
}
/*-------------cuerpo-------------------*/

.padre{                                  
    display: flex;
    flex-flow: column nowrap ;
  
}
    
/*-------------encabezado-----------*/    
}
.header{
     display: block;
     height: 20%;
     width: 100%;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
    
 }
    .aviso  {
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     text-align:  center;
     padding: 0.5px;
     width: 100%;
     font-size: 15px; 
     padding: 10px;
     letter-spacing: 2px;
     animation: changecolor 8s  forwards;
     
                   
    }  
    @keyframes changecolor {                    /*animacion*/
        0%  { background:none ;} 
       25%  {background:rgb(201, 196, 196) ;}
       50%  {background:rgb(141, 138, 138) ;} 
       100% {background:rgb(107, 107, 107) ;}
    
    }
    .menu{ 
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin:0px;
     letter-spacing: 2px;
     font-size: 20px;
     border-bottom: 2px solid rgb(253, 253, 253,.5);
     animation: fondo 8s   forwards;
     
    }
     @keyframes fondo {                     /*animacion*/
     0%  {background: none;} 
     50%  {background:rgb(250, 243, 243);} 
     100% {background: rgb(247, 235, 235);}
    }
        .logo {
          flex: 1 1 auto;
          font-size: 30px;   
          letter-spacing: 2px;
          font-style: normal;
          font-weight: 400;
          align-content: center;

        } 
            .logo a{
            color:black;
             }  
           .logo  a:hover{
            color: #3a2b2b;  
            }
        .nav{
           flex: 4 1 auto;
                               
        }
          .nav a{ 
              
              font-weight: bold;
              color:black;
            }
             .nav a:hover{
                color: grey;   
            }        
    
        .compras{
        flex: 1 1 auto;
        }
            .compras a{
               color:black;
           } 
           .compras a:hover{
               color:grey;
           }  

/*-----------------seccion------------*/        

    .section {
        display: flex;
        flex-direction: column;
        background: cornsilk;
        height: auto;
        width: 100%;
        
                
    }
       /* encabezado */
    .saludo {
        text-align: center;
        height: 100%;
        background: rgb(155, 136, 155);
                                            
        }
        /* transformacion  */
        .saludo a{
         color: black;
         font-size: 30px;
         font-weight: 25%;
         font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         -webkit-transition: 1s linear;     
         transition: 3s ease;
        }
    
        .saludo a:hover {
           background: rgb(226, 218, 218); 
           font-size: 50px;
           -webkit-transform: scale(10);
            transform: scale(10);

        }   

              /* articulos  */
              .articulos{
                    display:flex;
                    background: rgb(155, 136, 155);
                    
                               
                }
                .imag1{
                    width: 25%;
                    margin-left: 25%;
                                  
                }
               .nosotros {
                   display: flex;
                   
                                      
                }
                 h1{  
                    color: black;
                    font-size: 20px;
                    font-style: italic;
                    align-items: center;
                    background: rgb(218, 191, 218);
                    font-weight: 5%;
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
                   
                }
                .descripcion {
                   width: 50%;
                   padding:none;
                   margin-left:7% ;
                   border-right-color: black;
                  
                }
                
                                                  
                
/*------------------------pie-------------*/   
.footer{
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     align-items: center;
     height: 15%;
     background:rgb(235, 233, 232);
     border-top: 3px solid rgb(253, 253, 253,.5);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     }
    .social a{
       flex: 1 1 auto;
       color: black;
       text-align: center;
       margin-left: 30px;
       
                  
     }
     .social a:hover{
         color:grey;
         
       
     }
     .derechos a{ 
         flex: 1 1 auto;
         color:black;
         align-self: center;
    }                                 /*------------iframes------*/
    .mapa {
        flex: 1 1 auto;
        align-self: center;
    }

    /*------------puntos de cortes--------*/

 @media all and ( max-width:920px){

    .padre {
        width: 100%;
        flex-direction: column;
    }
   

            .menu {
              flex-direction: column;
              height: auto;
             }
    
    .imag1 {
            overflow: hidden;

    }
    .nosotros img{
         overflow: hidden;
    }
  }       
  @media all and ( max-width:800px){

    .section {
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
  }
  @media all and ( max-width:600px){
      .nav{
          display: flex;
          flex-direction: column;
          height: auto; 
      }
      .social a{
        display: flex;
        flex-direction: column;
        height: auto; 
      
      }

  }